*, *::after {
  box-sizing: border-box; /*-- sets box math for all elements --*/
}
html{
  background-color: grey;
}
body {
  width: 85%;  /*-- sets width of whole body to 85% --*/
  margin: 0 auto;  /*-- centers the whole body --*/
  font-family: 'Ariel', sans-serif;  /*-- sets font and fallback --*/
}
figure {
  margin: 0 0 1em 0;  /*-- adds bottom margin to figures --*/
  padding: 0;  /*-- removes padding from figures --*/
}
img {
  width: 100%;  /*-- makes all images responsive --*/
  padding: 1px;
  border: 2px solid orange;
  background-color: lightgrey;
}
article {
  padding-right: 1em;  /*-- creates space to the container's right --*/
}
footer {
  margin-top: 4em;  /*-- adds big space above the footer --*/
  padding: 1px;
  border: 2px solid orange;  /*-- adds border around footer --*/
  text-align: center;  /*-- centers text in the footer --*/
  background-color: lightgrey;
  height: 55px;
}

.container {
  display: inline-block;
}
.inner {
  float: left;
  width: 50%;
}
.image {
  width: 100%;
  height: auto;
}
.container::after {
  clear: both;
  display: table;
}
.link {
  color:blue;  /*-- sets all link colors --*/
}
.text {
  float: left;
}
.note {
  font-size: 75%;
  font-style: italic;
}
.centered {
  text-align: center;
}
